:root{
    --primary-soft: #f3f3f3;
}

.register-img{
    width: 100px;
    margin: 0 200px;
}

.nav-brand{
    position: sticky;
    top: 0;
    background: var(--bs-light);
}
.nav-menu{

}
.nav-menu ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}

.menu-item{
    transition: 0.5s;
}
.menu-item:hover {
    background-color: var(--primary-soft);
    border-radius: 0.25rem;
}

a{
    text-decoration: none !important;
}


.menu-item-link{
    display: flex;
    justify-content: space-between;
    color: var(--bs-dark);
    padding: 10px;
    border-radius: 0.25rem;
    text-decoration: none;
}
.currentPage{
    background-color: var(--bs-primary);
    color: white !important;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 0.25rem;
    text-decoration: none;
}

.menu-item a.currentPage i{
    color: #fff !important;
}

.menu-item-link:hover{
    text-decoration: none;
    color: var(--bs-dark);
}


.menu-spacer{
    padding: 10px 0;
}

.content{
    background-color: var(--primary-soft);
    overflow: scroll;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075) inset;
}

.header{
    position: sticky;
    top: 0.2rem;
    z-index: 2000;
}

.user-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.sidebar{
    /*overflow: scroll;*/
}


.show-sidebar-btn{
    cursor: pointer;
}

.card{
    border:none;
}


.full-screen-card{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2005;
    height: 100vh;
    overflow: scroll;
}


.table tr td{
    vertical-align: middle !important;
}


@media screen and (max-width: 840px){
    .sidebar{
        position: fixed;
        width: 300px;
        z-index: 2001;
        display: block !important;
        background: white;
        margin-left: -100%;
    }

    .register-img{
        margin: 0 280px !important;
    }
}

@media screen and (max-width: 480px){
    .sidebar{
        position: fixed;
        width: 300px;
        z-index: 2001;
        display: block !important;
        background: white;
        margin-left: -100%;
    }

    .register-img{
        margin: 0 130px !important;
    }
}

